<!DOCTYPE html>
<html lang="en">

{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrmageddon</title>
    {{ bootstrap.load_css() }}
    <style>
        .form-group {
            margin-bottom: 1.5rem;
        }

        .form-check {
            margin-bottom: 1.5rem;
        }

        .form-check-input {
            margin-right: 0.5rem;
        }

        .form-check-label {
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        .invalid-feedback {
            display: block;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 2rem;
        }

        .jumbotron {
            background-color: #f8f9fa;
            padding: 2rem 1rem;
            border-radius: 0.3rem;
        }

        .info-section {
            margin-top: 2rem;
        }

        .info-section h3 {
            margin-top: 1.5rem;
        }

        .info-section ul {
            list-style-type: none;
            padding: 0;
        }

        .info-section ul li {
            margin-bottom: 1rem;
            padding-left: 1.5rem;
            position: relative;
        }

        .info-section ul li::before {
            content: "\2713";
            position: absolute;
            left: 0;
            color: #28a745;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }

        .btn-primary:active {
            background-color: #004085;
            border-color: #003366;
        }

        h1 {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            font-weight: 300;
            text-align: center;
        }

        h2 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 400;
        }

        .form-label {
            font-weight: 500;
        }

        .lead {
            font-size: 1.25rem;
            font-weight: 300;
        }

        .text-center {
            text-align: center;
        }

        form {
            max-width: 600px;
            margin: 0 auto;
        }

        .form-control {
            max-width: 100%;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border: 1px solid #ced4da;
            transition: box-shadow 0.2s ease-in-out;
        }

        .form-control:focus {
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        }
    </style>
    {% block head %}

    {% endblock %}
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Arrmageddon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music_tools/">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.settings') }}">Settings</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    {{ bootstrap.load_js() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <!-- Include Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>

</html>