{% extends "base.html.j2" %}

{% block content %}
<div class="container mt-4">
    <h1>Music Tools</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Playlist Sync</h5>
                    <p class="card-text">Synchronize your playlists between Spotify and Plex.</p>
                    <a href="{{ url_for('music_tools.playlist_sync') }}" class="btn btn-primary">Go to Playlist Sync</a>
                </div>
            </div>
        </div>
        <!-- Add more tools here by copying the col-md-4 div and updating the content -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Coming Soon</h5>
                    <p class="card-text">More tools will be added here in the future.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}